<%= link_to "dobavit' user", new_user_path %>
<br>
<% @users.each do |user| %>
    <h3><%= link_to user.name, user %></h3>
    <%= link_to "change", edit_user_path(user.id) %>
    <%= link_to "delete", user, method: :delete, data: { confirm: "are you sure?"} %>
<% end %>