<footer class="footer">
  <small>
    <a href="http://web.method.kz/">Курс веб-программирования</a>
  </small>
  <nav>
    <ul>
       <li><%= link_to "Help",   help_path %></li>
       
    </ul>
  </nav>
</footer>
